
@{
   
}

<!DOCTYPE html>

<html>

<body>
    <!-- Start about-us page -->
    <div class="about-us">
        <div class="about-us-box">
            <h3>ماهو معدات؟</h3>
            <p>معداتي تجعل تأجير وبيع المعدات في متناول الجميع بشكل سهل وبسعر رخيص حيث توفر للأشخاص خدمة عرض معداتهم وجميع مقتنياتهم المستخدمة والتي لا يحتاجون إليها في الوقت الحالي للبيع أو الإيجار والاستفادة من العوائد المالية المتحصلة من هذه العمليات بدل رميها وإهمالها وعدم الاستفادة منها .</p>
            <p>وأيضاً تخدم أصحاب الأعمال والمهتمين بهذا في التصفح والبحث في مكان واحد للحصول على المعدات والأدوات والأجهزة التي يحتاجونها مقابل مبالغ بسيطة خلال مدة زمنية يحددها المستأجر، وتوفر عنهم تكاليف شراء المعدات الجديدة .</p>
            <p>يمكن للعميل من حجز المعدة على الفور في حالة كونها متاحة واستلامها مباشرة من مكتبنا في المكلا. وبالإمكان استلام المعدات خلال أوقات الدوام الرسمي ( من 8:00 ص - 8:00 م  ) بعد مايتم الإيداع وارسال الايصال الى مالك صاحب المعدة.</p>
            <h3>لماذا معداتي؟</h3>
            <p>
                بعض الأشخاص ممن يمتلكون المعدات قد لا يحتاجون لاستخدامها كثيراً
                وتبقى لفترات طويلة دون ان يستفيد منها. وفي الجانب الآخر توجد حاجة ماسة
                الى هذه المعدات من قبل أشخاص آخرين لإنجاز اعمالهم بشكل مؤقت وعدم رغبتهم الى تحمل
                تكاليف شراء معدة جديدة.
            </p>
            <p>
                من هنا جاء معداتي  ليحل هذه المشكلة حيث
                يعمل كوسيط يربط بين مالك المعدات وبين المستأجر أو المشتري ، ويوفر
                منصة للمستخدمين لعرض منتجاتهم ومقتنياتهم الى جانب ذلك يتيح لأي شخص الوصول
                للموقع من أي مكان و البحث في الاقسام المخصصة وتصفح جميع المنتجات واختيار الأنسب
                له من بين عدة خيارات متاحة .

            </p>
            <h3>أين يوجد معدات؟</h3>
            <p>
                يدور موضوع معداتي حول مشاركة المعدات مع أشخاص آخرين في مدينتك. معداتي متوفر حاليا في  المكلا. إذا كنت مقيمًا في تلك المدينة يمكنك استئجار معداتك على الموقع. في المستقبل، سنتّوسع في المزيد من المدن في اليمن، بناءً على الطلب.
            </p>
            <h3>هل هناك رسوم لاستخدام معدات؟</h3>
            <p>معدات تطلب من الملاّك رسوم خدمة 15% فقط من كل معاملة. </p>
            <h3>كيف يعمل؟</h3>
            <h5>مالك المعدة</h5>
            <ol>
                <li>انشاء حساب في الموقع.</li>
                <li>اضافة معدات  جديدة.</li>
                <li>تلقي الطلبات من قسم طلباتي.</li>
                <li>الموافقة على الطلبات الواردة.</li>
                <li>التاكد من ارسال الايصال من قبل العميل.</li>
                <li>تسليم المعدة للمكتب.</li>
                <li>استلام المعدة من المكتب بعد انتهاء مدة الحجز.</li>
                <li>الحصول على المبلغ .</li>
            </ol>
            <h5>مستاجر او مشتري</h5>
            <ol>
                <li>انشاء حساب في الموقع.</li>
                <li>البحث في قسم الفئات.</li>
                <li>شراء او استئجار المعدة المناسبة.</li>
                <li>التاكد من تلقي تاكيد المالك من قسم الطبات الصادرة.</li>
                <li>ايداع المبلغ في حسابنا في العمقي (254154855) وارسال الايصال للمالك.</li>
                <li>استلام المعدة من المكتب.</li>
                <li>تسليم المعدة في حالة الإستئجار الى المكتب بعد انتهاء مدة الحجز.</li>
            </ol>
        </div>
    </div>
    <!-- End about-us page -->
</body>
</html>
